name: Auto Assign Issues and PRs

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - name: Auto-assign issues
      if: github.event_name == 'issues'
      uses: pozil/auto-assign-issue@v1
      with:
        assignees: yannick-zahinda
        numOfAssignee: 1
    
    - name: Auto-assign PRs
      if: github.event_name == 'pull_request'
      uses: pozil/auto-assign-issue@v1
      with:
        assignees: yannick-zahinda
        numOfAssignee: 1